* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: #000;
}

.container {
   /* 1920-2*405+2*20=1110+40=1150; */
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}

/* Header start */
header {
   padding: 14px 0px;
}

.header-container {
   display: flex;
   justify-content: space-between;
}

.header-information {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 7px;
}

.header-information>a {
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   color: #969696;
}

.header-information p {
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   color: #969696;
}

.header-sign {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
}

.header-sign a {
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   text-align: right;
   color: #969696;
}

.header-sign p {
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   text-align: right;
   color: #969696;
}

.header-sign img {
   cursor: pointer;
}

/* header end */

/* nav start */
nav {
   padding-top: 15px;
   padding-bottom: 16px;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: #969696;
}

.nav-list li {
   list-style-type: none;
}

.nav-list a {
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: #969696;
   text-decoration: none;
   padding-left: 40px;
}

.nav-list button {
   background-color: transparent;
   border: none;
}

.nav-btn {
   padding-left: 61.83px;
   padding-right: 44.58px;
}

.nav-logo p {
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   color: #FFFFFF;
}

.hamburger {
   display: none;
}

/* nav end */

/* home start */

#home {
   height: 810px;
   background: url(../images/home.png) no-repeat center;
   background-size: cover;
}

.home-container {
   width: 1560px;
   margin: 0 auto;
}

.home-content {
   padding-top: 160px;

}

.home-border {
   padding-top: 93px;
   padding-bottom: 94px;
   width: 320px;
   height: 320px;
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 4px solid #FFFFFF;
   margin: auto auto;

}

.home-border h1 {
   font-weight: 700;
   font-size: 64px;
   line-height: 96px;
   text-align: center;
   color: #FFFFFF;
}

.home-border h2 {
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

.home-border hr {
   margin-bottom: 7px;
   width: 179px;
   border: 2px solid #FFFFFF;

}

.home-text p {
   padding-top: 80px;
   margin: 0 auto;
   max-width: 810px;
   height: 96px;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

/* home end */

/* katalog start */
#katalog {
   padding-bottom: 72px;
   margin: 0 auto;
}

.katalog-left {
   padding-top: 93px;
   max-width: 50%;
   text-align: center;
   float: left;
}

.katalog-left h2 {
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 50px;
}

.katalog-left hr {
   margin: auto auto;
   width: 110.77px;
   border: 1px solid #FFFFFF;
   margin-bottom: 50px;
}

.katalog-cards {
   display: flex;
   justify-content: space-between;
   padding: 0px 73.85px;
}

.katalog-card {
   padding-right: 40px;
}

.katalog-card-img {
   background-color: #191B1C;
   max-width: 185px;
   height: 280px;
   display: flex;
   align-items: center;

}

.katalog-card h3 {
   max-width: 129.23px;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: #FFFFFF;
   text-align: start;
   padding-top: 25px;
}

.katalog-card p {
   max-width: 80px;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #D0D0D0;
   text-align: left;
}

.katalog-right {
   background: url(../images/katalog.png) no-repeat center;
   background-size: cover;
   float: right;
   width: 50%;
   height: 700px;
   text-align: center;
   padding-top: 420px;
}

.katalog-right h2 {
   padding-bottom: 30px;
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

.katalog-right-hr {
   border: 1px solid #FFFFFF;
   margin: auto;
   width: 130.91px;

}

.hr-katalog {
   padding-bottom: 30px;
}

.katalog-right button {
   padding: 12px 28px;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   background-color: transparent;

}

/* katalog end */

/* collection start */
#collection {}

.collection {
   margin: 0 auto;
   display: inline-block;

}

.collection-left {
   background: url(../images/collection.png) no-repeat center;
   background-size: cover;
   float: left;
   height: 600px;
   width: 50%;

}

.collection-right {
   max-width: 50%;
   float: right;
   padding-top: 100px;
}

.collection-right h2 {
   font-weight: 400;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 40px;
}

.collection-right hr {
   margin: 0 auto;
   width: 120px;
   border: 1px solid #FFFFFF;
}

.collection-right p {
   margin: 0 auto;
   padding: 40px 160px 61px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   color: #FFFFFF;
}

.collection-right button {
   display: flex;
   flex-direction: row;
   padding: 12px 28px;
   background: transparent;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   margin: 0 auto;
}

/* collection end */

/* product start */
#product {
   padding-top: 120px;
   padding-bottom: 150px;
}

.product-container h1 {
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 40px;
}

.product-cards {
   padding-top: 81px;
   display: flex;
   justify-content: space-between;
}

.product-container hr {
   width: 120px;
   margin: 0 auto;
   border: 1px solid #FFFFFF;
}

.product-card-img {
   background-color: #191B1C;
   width: 260px;
   height: 325px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.product-card h3 {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: #FFFFFF;
   text-align: start;
   padding-top: 25px;
   padding-bottom: 10px;
}

.product-card p {
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #D0D0D0;
   text-align: left;
}

/* product end */

/* brend start */
#brend {
   padding-top: 60px;
   padding-bottom: 80px;
   background-color: #0f0f0f;
}

.brend-container h1 {
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 40px;
}
.brend-container hr {
   width: 120px;
   margin: 0 auto;
   border: 1px solid #FFFFFF;
}
.brends{
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
}





@media (max-width: 500px) {
   .header-information {
      flex-direction: column;

   }

   .collection-right p {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width: 750px) {
   .nav-list {
      display: none;
   }

   .hamburger {
      display: inline-block;
      border: none;
      background-color: transparent;
   }

   .home-content {
      padding-top: 32px;
   }

   .katalog-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .katalog-card {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;
   }

   .katalog-card h3 {
      padding-left: 15px;
      padding-right: 30px;
   }

   .katalog-card p {
      padding-top: 90px;
   }

   .katalog-left {
      margin: 0 auto;
   }

   .collection-right p {
      padding-left: 50px;
      padding-right: 50px;
   }
}

@media (max-width: 850px) {
   .home-text {
      margin: 0 auto;
   }

   .katalog-right {
      height: 100%;
      padding: 150px 100px;
   }

   .collection {
      display: flex;
      flex-direction: column;
   }

   .collection-left {
      width: 100%;

   }

   .collection-right {
      max-width: 100%;
      margin: 0 auto;
   }

}

@media (max-width: 1100px) {
   .product-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
   }

   .product-card {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      
      
   }
   .brends{
      display: flex;
      flex-direction: column;
      align-items: center;
   }


}

@media (max-width: 1300px) {
   #katalog {
      display: flex;
      flex-direction: column-reverse;
   }

   .katalog-right {
      width: 100%;
   }

   .katalog-left {
      height: 100%;

   }

   .collection-right p {
      padding-left: 100px;
      padding-right: 100px;
   }
}